# Laboratorio 4
- Juan Pablo Solis
- Brandon Reyes
- Carlos Valladares

# Task 1 - Preguntas Teoricas
1. Explique con sus propias palabras, qué son los grafos computaciones y cuál es su importancia para el
cálculo de gradientes en aplicaciones como backpropagation.
    - Un grafo computacional es un tipo de grafico el cual su nodo raiz representa la expresión matemática final y cada nodo representa subexpresiones intermedias
2. Detalle cuales son los componentes y pasos que conforman una red neuronal. Con esto en mente, ¿cómo
mejoraría el perceptrón que hizo en el laboratorio pasado?
    - Neuronas: Unidades básicas que procesan información a través de funciones de activación.
    - Capas: Incluyen capa de entrada, capas ocultas y capa de salida.
    - Pesos y sesgos: Factores que determinan la influencia de una neurona en otra.
    - Función de activación: Introduce no linealidad en la red (ReLU, Sigmoide, etc.).
    - Función de costo: Mide la diferencia entre la salida esperada y la obtenida.
    - Algoritmo de optimización: Como el descenso de gradiente para actualizar los pesos.
    - Para mejorar el perceptron añadiendo más capas ocultas y utilizando funciones de activación no lineales
3. Investigue y explique cómo se selecciona el valor K usando el método de la silueta para el algoritmo de K-
Means
    - El método del coeficiente de silueta mide la calidad de los clusters evaluando la similitud de cada punto con su propio cluster y comparándola con otros clusters
    - La ecuacion es S(i)= (b(i)−a(i))/(max(a(i),b(i)))
    - Donde a(i) es la distancia promedio del punto i a los demás puntos de su mismo cluster y b(i) es la menor distancia promedio del punto i a los puntos de otro cluster.
4. ¿Cómo podría ayudarle el PCA a mejorar la calidad de sus clusters cuando se usa K-Means?
    - El PCA ayuda a reducir la dimensionalidad de los datos preservando la varianza más significativa, por lo que puede mejorar significativamente los resultados de K-Means al facilitar la identificación de patrones relevantes en los datos
​

# Task 2.1 K-Means y Segmentación de Clientes de Banco

## 2.1.0 Exploracion e Importacion de datos

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [8]:
filepath = "bank_transactions.csv"
df = pd.read_csv(filepath)
#Exploracion de datos - Inciso 2.0
print("Distribución inicial de la columna 'status':")
print(df['CustGender'].value_counts())
print("\nVerificacion de datos nulos")
print(df.isnull().sum())
print("\nResumen estadistico de los datos")
print(df.describe())

Distribución inicial de la columna 'status':
CustGender
M    765530
F    281936
T         1
Name: count, dtype: int64

Verificacion de datos nulos
TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

Resumen estadistico de los datos
       CustAccountBalance  TransactionTime  TransactionAmount (INR)
count        1.046198e+06     1.048567e+06             1.048567e+06
mean         1.154035e+05     1.570875e+05             1.574335e+03
std          8.464854e+05     5.126185e+04             6.574743e+03
min          0.000000e+00     0.000000e+00             0.000000e+00
25%          4.721760e+03     1.240300e+05             1.610000e+02
50%          1.679218e+04     1.642260e+05             4.590300e+02
75%          5.765736e+04     2.000100e+05             1.200000e+03
max          1.150355e+08     2.359590e+05             1.560035e+06

In [12]:
# Eliminar filas con valores nulos en las columnas especificadas
df = df.dropna(subset=["CustomerDOB", "CustGender", "CustLocation", "CustAccountBalance"])

print("\nVerificacion de datos nulos")
print(df.isnull().sum())

Verificacion de datos nulos
TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

In [10]:
# Eliminar filas donde el género sea 'T'
df = df[df["CustGender"] != "T"]

label_encoder = LabelEncoder()

# Aplicar Label Encoding a la columna 'CustGender' (M -> 1, F -> 0)
df["CustGender"] = label_encoder.fit_transform(df["CustGender"])

# Aplicar Label Encoding a la columna 'CustLocation'
df["CustLocation"] = label_encoder.fit_transform(df["CustLocation"])

In [11]:

# Seleccionar solo las primeras columnas para mostrar
df_head = df.iloc[:, :5]  # Tomamos las primeras 5 columnas

# Mostrar los datos
df_head

        TransactionID CustomerID CustomerDOB  CustGender  CustLocation
0                  T1   C5841053     10/1/94           0          3557
1                  T2   C2142763      4/4/57           1          3618
2                  T3   C4417068    26/11/96           0          5219
3                  T4   C5342380     14/9/73           0          5219
4                  T5   C9031234     24/3/88           0          5606
...               ...        ...         ...         ...           ...
1048562      T1048563   C8020229      8/4/90           1          5738
1048563      T1048564   C6459278     20/2/92           1          5580
1048564      T1048565   C6412354     18/5/89           1          3367
1048565      T1048566   C6420483     30/8/78           1          9059
1048566      T1048567   C8337524      5/3/84           1          6656

[1041613 rows x 5 columns]